.DS_Store
node_modules/
miniprogram_npm/
ui/dist
server/pages/*.json
server/recycle/*.json
server/uploads/*
!server/uploads/.gitkeep
server/editor/static/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
target
access_token.json
jsapi_ticket.json
.project
.classpath
background/src/main/resources/dist/*

# Editor directories and files
.idea
.vscode
.settings
**.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
*.log
upload/*